/*Elementos do Body*/

body {
	width: 100%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}
h1 {
	padding-bottom: 2rem;
}
form {
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	gap: 2rem;
}

fieldset {
	width: 50%;
	padding: 1.5rem;
	border: 1px solid black;
}


.linha-um {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.coluna {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.col-um {
	flex: 1;
}



.linhas {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

textarea {
	height: 7rem;
	resize: none;
	overflow: auto;
}

input,
textarea {
	background-color: #E6E6E6;
	border: none;
}

input {
 height: 2rem;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.btn > * {
	font-size: 1.5rem;
	color: #E6E6E6;
	background-color: #2C5680;
	height: 3.5rem;
	padding: 1rem;
}

.btn > *:hover {
	cursor: pointer;
}

@media screen and (max-width: 740px) {
	fieldset {
		width: 90%;
	}
	.linha-um {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
}
