body { min-height: 100vh; }


main {
    height: 100%;
    margin-top: 0;
    padding: 10px;
    border: 0;
    width: 100%;
}
form{
    width: 900px;
    height: 200px;
    margin-top: 20px;
    margin-left: 200px;
}
h3{
    display: inline-flex;
    
}
.lobo2{
    display:inline-flex;
    margin-left: 200px;
}
.namelob{
    width: 700px;
}
.idade{
    width: 130px;
    margin-left: 20px;
}
.email{
    width: 855px;
}
label{
    text-align: start;
    font-size: 25px;
    font-family: "Darker Grotesque";
    font-weight: bold;
    
}
.lab-idade{
    margin-left: 620px;
}
input{
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 15px;
    height: 30px;
    font-family: "Darker Grotesque";
    font-size: 20px;
    padding: 5px;
}
.idloboadot{

    font-size: 20px;
}
.adopt-btn{
    background: linear-gradient(0deg, #2C5680, #2C5680),
    linear-gradient(0deg, #333333, #333333);
    width: 209px;
    height: 60px;
    top: 944px;
    left: 595px;
    border: 1px solid #333333;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-family: "Darker Grotesque";
    font-size: 25px;
    margin: 40px;

}
.nome-lobo-adopt{
    margin-left: 30px;
    font-size: 45px;
}