/*CARD DOS LOBOS*/

.lobo-nome{
    font-weight:700;
    font-size:2rem;
    margin-bottom:0.25em;
}

.idade{
    font-weight:100;
    color: black;

   width:100%;
   /* background-color: red; */
   
}

.idade-homepage{
    text-align: start;
}

.cardlobo{
    display:flex;
    flex-flow:row wrap;

    justify-content: center;
    margin:4em auto;
    /* padding:1em; */
     width:80%;
    
}
.left{
    flex-flow:row wrap;
}
.right{
    flex-flow:row-reverse wrap;
    
}

.lobo-info{
    display:flex;
    justify-content: start;
    flex-direction: column;
    align-content: end;
    
    /* background-color: pink; */
    width:40%; 
}
.lbi-left{
    margin:0 0 0 2em;
}
.lbi-right{
    margin:0 2em 0 0;
}
.lobo-descricao{
    text-align:justify;
    margin-top:1em;
    color:black;
    font-size:1.5rem;
    width:100%;
    /* background-color: pink; */
}

.lobo-fig{
    
    width:30em;
    max-height:20em;
    
    
}
.lobo-img{
    height:100%;
    width:100%;
     
}

/*Sombras img lobo*/
.limg-left{
    box-shadow: -1.875em -1.25em 0 0.313em #2C5680, -1.875em -1.25em  0px 0.625em #333; 
}
.limg-right{
    box-shadow: 1.875em -1.25em 0 0.313em #2C5680, 1.875em -1.25em  0px 0.625em  #333;    
}

/* CARD LISTA_LOBOS */

.lobo-nome-btn{
    display:flex;
    justify-content: space-between;
    align-content: center;
}

.idade-lista-right{
    text-align:end;
    
}

.adotar-btn{
    font-size: 2rem;
    font-weight: bold;
    border: none;
    font-family: "Darker Grotesque", sans-serif;
    color: white;
    background: #DEB959;
    padding:0 1em;
}

.adotar-btn:hover{
    background-color: #b39448;
}

/*MEDIA QUERIES */
@media(max-width:1326px){
    .card{
        display:flex;
        flex-flow:column;
        align-content: center;
    }
    .idade{
        text-align: start;
    }
    .lobo-descricao{
        text-align: start;
    }
    .lobo-fig{
        box-shadow:0 0 0 0;
        
        margin-bottom:1rem ;
    }
    .lobo-info {
        width: 100%;
        margin:0;
    }
    .nossos-lobos {
        width: 100%;
    }
    /*Sombras da imagem do lobo*/
    .limg-left{
        box-shadow: -1.875em -1.25em 0 0.160em #2C5680, -1.875em -1.25em  0px 0.4em #333; 
    }
    .limg-right{
        box-shadow: 1.875em -1.25em 0 0.160em #2C5680, 1.875em -1.25em  0px 0.4em  #333;    
    }
}
.btnnome{
    border: none;
    display:flex;
    justify-content: space-between;
    align-content: center;
    font-family: "Darker Grotesque";
    font-weight:700;
    font-size:2.5rem;
    margin-bottom:0.25em;
    

}