/* estilizando o header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #85CDF5;
    padding: 1rem 0rem;
}

 /* criando o efeito do hover*/
.hover-underline-animation, .menu-opcao {
    font-size: 1.875rem;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}
 /* criando o efeito do hover*/
.hover-underline-animation {
    display: inline-block;
    position: relative;

}

 /* criando o efeito do hover*/
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: -10px;
    left: 0;
    background-color: #333333;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

 /* criando o efeito do hover*/
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* icones do menu */
.menu-open,
.menu-close {
    display: none;
    height: 50px;
    width: 50px;
}
/* barra de navegação do menu */
.menu-flutuante {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: #85CDF5;
    padding-bottom: 1rem;
}

/* estilo ao footer */
footer {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color: #333333;
    padding: 3rem;

    gap: 3rem;

}
.p-footer {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    color: #FFFFFF;
}

.mapa-com-dados{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    display: flex;
    align-items: center;
}
li > p {
    padding-left: 10px;
}
.desenvolvido-com {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    gap: 1rem;
}

.btn-quem-somos {
    font-size: 16px;
    font-weight: bold;
    border: none;
    font-family: "Darker Grotesque", sans-serif;
    color: #333333;
    background: #DEB959;
    padding: 0.5rem;
    text-decoration: none;
}

.btn-quem-somos:hover {
    cursor: pointer;
}

.p-logo {
    display: block;
    font-size: 1rem;
    width: 100%;
}

@media screen and (max-width: 740px){
    header,
    footer {
        padding: 1.5rem;
    }
    
    header {
        justify-content: space-between;
    }

    footer {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
        background-color: #333333;
        padding: 3rem;
    
        gap: 3rem;
    
    }

    .hover-underline-animation {
        display: none;
    }
    .menu-open{
        display: block;
    }

    .mapa-com-dados {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    ul {
        display: flex;
        align-items: start;
        gap: 1rem;
    }
    li {
        display: flex; 
        flex-direction: row;
        align-items: center;

    }

}