@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

/* global */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Fontes */
body {
    font-size: 16px;
    font-family: "Darker Grotesque", sans-serif;
}

h1 {
    font-size: 2.986rem;
    font-weight: bold;
}

h2 {
    font-size: 2.488rem;
    font-weight: bold;

}

h3 {
    font-size: 2.074rem;
    font-weight: bold;

}

/* estilizando o header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #85CDF5;
    padding: 1rem 0rem;
}

/* criando o efeito do hover*/
.hover-underline-animation {
    font-size: 1.875rem;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

/* criando o efeito do hover*/
.hover-underline-animation {
    display: inline-block;
    position: relative;

}

/* criando o efeito do hover*/
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: -10px;
    left: 0;
    background-color: #333333;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

/* criando o efeito do hover*/
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* estilizando o main */

/* estilizando a section hero*/
.adote-um-lobinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #494949;
    background-image: url(/assets/background-img-lobo-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;

    padding: 8rem;
}

/* estilizando o h1 */
.adote-um-lobinho>h1 {
    display: inline-block;
    position: relative;
    padding: 2rem;
    color: #FFFFFF;

}

/* criando o efeito do hover*/
.adote-um-lobinho>h1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 1rem;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

/* criando o efeito do hover*/
.adote-um-lobinho>h1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/* estilo ao parágrafo do mai

/* estilizando a seção sobre */
.sobre>h2,
.valores>h2 {
    color: #DEB959;
    padding-bottom: 1rem;
}

.sobre {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2C5680;
    padding: 4rem;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    padding: 4rem;
    width: 100%;
}

.cards-valores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* estilo na seção de nossos lobos */
.nossos-lobos {
    color: black;
}

.nossos-lobos h2 {
    font-weight: 700;
    /* font-size:2rem; */
    text-align: center;
    margin-top: 1rem;
    color: #DEB959;
}


/* estilo ao footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #333333;
    padding: 3rem;

}

.p-footer {
    font-size: 1rem;
    text-align: left;

}

.footer-mapa-com-dados {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.footer-desenvolvido-com {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #FFFFFF;
    gap: 1rem;
}

.btn-quem-somos {
    font-size: 16px;
    font-weight: bold;
    border: none;
    font-family: "Darker Grotesque", sans-serif;
    color: #333333;
    background: #DEB959;
}

.btn-quem-somos:hover {
    cursor: pointer;
}


#lobos-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.cardLobos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 70%;
    gap: 4em;
    padding: 4em;
}

.cardLobos img {
    width: 23em;
    height: auto;
    box-shadow: -1.5625em -1.5625em #2C5680, -1.25em -1.875em #333, -1.875em -1.25em #333, -1.875em -1.875em #333;
}


.loboTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.2em;
    width: 23em;

}

.loboTexto p {
    margin-top: 1em;
    font-size: 1.0625em;
    line-height: 1em;
}

#cardLobosReverso {
    flex-direction: row-reverse;
}

#cardLobosReverso p,
#cardLobosReverso h2,
#cardLobosReverso span {
    width: 100%;
    text-align: right;
}

#cardLobosReverso img {
    box-shadow: 1.5625em -1.5625em #2C5680, 1.25em -1.875em #333, 1.875em -1.25em #333, 1.875em -1.875em #333;
}





.btnAdop {


    padding: 10px 20px;
    background-color: #f0da12;
    color: #f0e9e9;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

}

.btnAdop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btnAdop.clicked::before {
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.8);


}

.btnAdop.clicked {
    background-color: #08f800;
    color: #f0e9e9;
}


#lobos-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.rowLobos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 70%;
    gap: 4em;
    padding: 4em;
}

.imgDivLobo {
    width: 23em;
    height: 15em;
}

.imgDivLobo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.loboTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.2em;
    width: 23em;

}

.loboTexto p {
    margin-top: 1em;
    font-size: 1.0625em;
    line-height: 1em;
}

#rowLobosReverse {
    flex-direction: row-reverse;
}

#rowLobosRevers ep,
#rowLobosReverse h2,
#rowLobosReverse span {
    width: 100%;
    text-align: right;
}

#sombraWolfImg {
    box-shadow: -1.5625em -1.5625em #2C5680, -1.25em -1.875em #333, -1.875em -1.25em #333, -1.875em -1.875em #333;
}

#sombraWolfImgRevese {
    box-shadow: 1.5625em -1.5625em #2C5680, 1.25em -1.875em #333, 1.875em -1.25em #333, 1.875em -1.875em #333;
}
/* Topo */
.sectionpesquisa{
    margin: 10px 250px 0px ;
    align-items: center;
    font-size: 20px;
    font-family: "Darker Grotesque", sans-serif;

}
.barra_pesquisa{
    width: 700px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    margin-right: 5px;
    border: solid 1px gray;
    font-family: "Darker Grotesque";
    font-size: 20px;
}

#pagination button {

    padding: 10px 20px;
    background-color: #ffc400; 
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; /

}


.searchlobos{
    width: 70px;
    height: 40px;
    background-color: #DEB959;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.checkbox{
    margin-top: 20px;
}

