body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.quem_somos {
    
    width: 60%;
    text-align: center;    
    background: #ffffff;
    justify-content: center;

    font-size: large;
    letter-spacing: 0.155em;
    line-height: 33px;

}