.show-title{
    margin-top:1em;
}

.left-column{
    display:flex;
    flex-direction: column;
}

.btns-row{
    display:flex;
    flex-flow:row wrap;
    margin-top:2em;
    justify-content: space-around;
    /* border: 2px solid black; */
}

.btns-row button{
    padding:1em;
    width:25%;
    border:none;
    color:white;
    font-weight: 700;
    font-size:1em;
}

.adotar-show-btn{
    background-color: #7AAC3A;
}

.excluir-show-btn{
    background-color:#DE5959;
}

.adotar-show-btn:hover{
    background-color: #61882e;

}

.excluir-show-btn:hover{
    background-color: #bd4c4c;
}
.btnnome{
    border: none;
    justify-content: space-between;
    align-content: center;
    font-family: "Darker Grotesque";
    font-weight:700;
    font-size:2.5rem;
    margin-bottom:0.25em;
    
}
.nameshow{
    border: none;
    justify-content: space-between;
    align-content: center;
    font-family: "Darker Grotesque";
    font-weight:700;
    font-size:2.5rem;
    margin-bottom:0.25em;
}