@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

/* global */
*{
    margin: 0;
    box-sizing: border-box;
}

/* Fontes */
body {
    font-size: 16px;
    font-family: "Darker Grotesque", sans-serif;
}

h1 {
    font-size: 2.986rem;
    font-weight: bold;
}

h2 {
    font-size: 2.488rem;
    font-weight: bold;

}

h3 {
    font-size: 2.074rem;
    font-weight: bold;

}
p {
    font-size: 1.875rem;
    color: #FFFFFF;
    text-align: left;
}


/* estilizando o main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

/* estilizando a section hero*/
.adote-um-lobinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #494949;
    background-image: url(/assets/background-img-lobo-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    
    padding: 8rem;
}

/* estilizando o h1 */
.adote-um-lobinho > h1 {
    display: inline-block;
    position: relative;
    padding: 2rem;
    color: #FFFFFF;

}

/* criando o efeito do hover*/
.adote-um-lobinho > h1::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 1rem;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}
 /* criando o efeito do hover*/ 
.adote-um-lobinho > h1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/* estilizando a seção sobre */
.sobre > h2,
.valores > h2 {
    color: #DEB959;
    padding-bottom: 1rem;
}
.sobre {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2C5680;
    padding: 4rem;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    padding: 4rem;
    width: 100%;
}

.cards-valores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding-top: 3rem;
}

.quadro-branco {
    background-color: #FFFFFF;
    border-radius: 100%;
    padding: 2rem;
}

.card > h3 {
    color: #FFFFFF;
    padding-top: 1rem;
}
/* estilo na seção de nossos lobos */
.nossos-lobos{
    color:black;
}

.nossos-lobos h2{
    font-weight:700;
    /* font-size:2rem; */
    text-align: center;
    margin-top:1rem;
    color:#DEB959;
}


 



@media screen and (max-width: 740px){

    main > * {
        padding: 1.5rem;
    }
    
    h1 {
        text-align: center;
    }
    .hover-underline-animation {
        display: none;
    }
    .adote-um-lobinho,
    .sobre,
    .valores,
    .nossos-lobos {
        padding: 1.5rem;
    }

}
